#ignore ALL files located in these directories
Calibration_Files/
Results/
.ipynb_checkpoints
/JaxCode/Calibration_data
/JaxCode/Results
/JaxCode/wandb
/JaxCode/Reconstruction Notebooks/wandb
/JaxCode/recon_materials_organized
/JaxCode/Figure_Notebooks/Figures
*.pyc
*.pt
# Ignore specific files
JaxCode/cuda-keyring_1.1-1_all.deb
JaxCode/specscope_jax.yml

# Ignore entire directories
LowRankCode/test_models/
LowRankCode/wandb/
TorchCode_2023/
